@font-face {
    font-family: "Monaspace Radon";
    src: url("/fonts/MonaspaceRadon-Regular.otf");
}

.editor {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0.1px;

    -fx-padding: 15px;
    -fx-background-color: #333333;
}

.styled-text-area .caret {
    -fx-stroke: #46bcde;
}

.text {
    -fx-fill: #46bcde;
    -fx-font-family: "Monaspace Radon";
    -fx-font-size: 20px;
}

.editor-icon {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}

.editor:focused {
    -fx-background-color: #333333;
}

.operator {
    -fx-fill: #6FD08C;
}

.parens {
    -fx-fill: #e5c454;
}

.quantifiers {
    // for now it has the same color as the operator's
    -fx-fill: #6FD08C;
}