body {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #46bcde;
  background: #333333;
  padding: 10px;
  line-height: 1.7em;
}

h3 {
  color: #A979B9;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #e5c454;
}

a:hover {
  color: #e57254;
}

.formula {
  color: #6FD08C;
}

.solution-label {
   font-style: italic
}

.proof-paragraph {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

b, strong {
    color: #A979B9;
}

.error {
    color: #EF6F6C;
}

@keyframes fadeInLineByLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sentence {
  opacity: 0;
  animation: fadeInLineByLine 1s ease forwards;
}