.main-io-text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: gray;
    -fx-border-width: 0.1px;

    -fx-font-family: Helvetica;
    -fx-font-size: 16px;
    -fx-padding: 10px;

    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.main-io-input-text-field:focused {
    /* Remove focus border. See https://stackoverflow.com/a/28853294 */
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}