body {
  font-size: 1.3em;
  font-family: "Open Sans";
  color: #46bcde;
  background: #333333;
}

h3 {
  color: #A979B9;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #e57254;
}

a:hover {
  color: #e5c454;
}

.formula {
  color: #6FD08C;
}

.two-column {
    column-count: 2;
    column-gap: 20px;
    padding: 10px
    column-span: all;
}

.centered {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

b, strong {
    color: #A979B9;
}

.error {
    color: #EF6F6C;
}